<!DOCTYPE html>
<html>
  <head>
    <title>T0,6 Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :link, rel: 'icon', type: 'image/png', href: image_url('icon.png') %>
    <script src="https://kit.fontawesome.com/99fd0eedf9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe.min.css" integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex justify-center bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100">
    <div class="container p-4">
      <div class="flex flex-row max-w-4xl mx-auto">
        <a href="https://twitch.tv/noway4u_sir" target="_blank" class="flex items-center">
          <i class="fa-brands fa-twitch mr-1"></i> <span class="uppercase">Twitch</span>
        </a>
        <span class="mx-2">|</span>
        <a href="https://clips.twitch.tv/SpikyFancySandpiperCmonBruh-g6J5OOg3JPRV3iV4" target="_blank" class="flex items-center">
          <span class="uppercase">Was ist T0,6?</span>
        </a>
        <span class="mx-2">|</span>
        <a href="https://twitch.tv/noway4u_sir" target="_blank" class="flex items-center">
          <span class="uppercase">Impressum,&nbsp;</span>
        </a>
        <a href="https://www.noway.gg/privacy" target="_blank" class="flex items-center">
          <span class="uppercase">Datenschutz</span>
        </a>
      </div>

      <%= yield %>

      <footer class="max-w-4xl w-full mx-auto text-center mt-12 text-xs">
        Bug reports via Discord an <a href="discord://-/channels/@me/275288704497745920" class="text-blue-500">@aimaard</a>.<br><i class="fa-brands fa-github"></i> <a href="https://github.com/siegy22/noway_tyler" target="_blank">siegy22/noway_tyler</a>
      </footer>
    </div>
  </body>
</html>
