<div class="bg-white dark:bg-gray-700 shadow-lg rounded-lg p-6">
  <%= link_to image_url("nno/#{account.role}_2.jpg"), target: '_blank' do  %>
    <%= image_tag "nno/#{account.role}.jpg", class: "m-auto rounded-full w-20 h-20 hidden", 'data-nno': true %>
  <% end %>
  <%= image_tag "https://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/#{account.profile_icon_id}.png", class: 'm-auto rounded-full w-20 h-20', 'data-real': true  %>
  <div class="w-full text-center mb-2 mt-1">
    <%= link_to account.riot_id, account.opgg_url, class: 'text-xl font-semibold', target: '_blank' %>
  </div>
  <div class="relative w-full bg-gray-200 rounded-full h-5 dark:bg-gray-700">
    <div class="flex h-5">
      <div class="bg-blue-500 rounded-l-full" style="width: 60%;"></div>
      <div class="bg-red-500 rounded-r-full" style="width: 40%;"></div>
    </div>
    <div class="absolute inset-0 flex items-center justify-center font-bold text-white text-sm">
      <span>60%</span>
    </div>
  </div>
  <div class="flex items-center mt-2">
    <%= image_tag "ranks/diamond.png", class: "w-10 h-10" %>
    <span class="ml-2">Diamond IV</span>
  </div>
  <div class="flex items-center my-1">
    <%= image_tag "target.png", class: "dark:hidden w-10 h-10 p-1" %>
    <%= image_tag "target_dark.png", class: "dark:block hidden w-10 h-10 p-1" %>
    <span class="ml-2">Rolle gespielt: 95%</span>
  </div>
  <div class="flex items-center mt-1">
    <%= image_tag "openai.png", class: "dark:hidden w-10 h-10 p-1" %>
    <%= image_tag "openai_dark.png", class: "dark:block hidden w-10 h-10 p-1" %>
    <span class="ml-2">AI Prediction: 20. Juli 2024</span>
  </div>
  <div class="mt-4">
    <p class="mb-2">Verlauf der letzten 10 Games</p>
    <div class="h-32 bg-gray-200 dark:bg-gray-600 rounded-md"></div>
  </div>
</div>
